# Ensure that JavaScript files are categorized as JavaScript
*.js linguist-language=JavaScript

# Exclude the 'dist' and 'build' folders from language statistics
dist/* linguist-vendored
build/* linguist-vendored

# Ignore JavaScript dependencies in node_modules from statistics
node_modules/* linguist-vendored
